.to-top {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid $dark-pink;
    background-color: $light-pink; 
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    z-index: 100;
    @include flex-element(center, center);
    cursor: pointer;
    transform: scale(0);
    transition: bottom 200ms, transform 200ms;
    img {
        width: 30px;
    }
    &:hover {
        bottom: 3.5rem;
    }
    &.show {
        transform: scale(1);
    }
}