

header {
    .container {   
        padding: 1rem 2%;
     }
    background-color: $dark-pink; 
    .logo {
        @include flex-element($align: center);
        color: $light-text;
        @include responsive(mobile) {
            flex-direction: column;
            h1 {
                font-size: 2rem;
            }
        }
    }

    
  
}
