.container {
    width: 100%;
    max-width: 90vw;
    margin: 0 auto;
    padding: 3rem 2%;
}

header,
footer,
section {
    .container {
        @include flex-element(space-between, center);
    }

    @include mediaQuerie(lg) {
        .container {
            flex-direction: column;
            gap: 2rem;
        }
    }
}

header {
    @include mediaQuerie(lg) {
        .container {
            @include flex-element(space-between, center);
        }
    }
}