h1 {
    font-size: 2.8rem;
    color: $light-text;
}

h3 {
    font-size: 2.4rem;
    font-weight: normal;
}

li {
    font-size: 2.2rem;
}

p {
    font-size: 2.4rem;
    text-align: start;
}

@include mediaQuerie(sm) {
    h1 {
        
        font-size: 2rem;
    }
    li {
        font-size: 1.8rem;
    }
    p {
        font-size: 1.6rem;
    }
    h3 {
        font-size: 2rem;
    }
}


