@use "../mixins/mixins" as mixin;

.container {
    width: 100%;
    max-width: 90vw;
    margin: 0 auto;
    padding: 3rem 2%;
}

header,
footer,
section {
    .container {
        @include mixin.flex-element(space-between, center);
    }

    @include mixin.mediaQuerie(lg) {
        .container {
            flex-direction: column;
            gap: 2rem;
        }
    }
}

header {
    @include mixin.mediaQuerie(lg) {
        .container {
            @include mixin.flex-element(space-between, center);
        }
    }
}