@use "../mixins/mixins" as mixin;
@use "../patterns/patterns" as pattern;

footer {
    background-color: pattern.$dark-pink;
    color: pattern.$light-text;
    .social-media {
        @include mixin.flex-element($align: center);
        gap: 2rem;
        @include mixin.mediaQuerie(sm) {
            gap: 1rem;
            img {
                width: 4rem;
            }
        }
       
    }

    .logo-laco {
        width: 8rem;
    }
    @include mixin.mediaQuerie(lg) {
        .container {
            flex-direction: column;
            align-items: start;
        }
    
    }

}