@use "../mixins/mixins" as mixin;
@use "../patterns/patterns" as pattern;

.s-awareness {
    background-color: pattern.$dark-pink;
    .image {
        flex: 0 1 38vw;
    }
    .description {
        color: pattern.$light-text;
        flex: 0 1 45vw;
    }
    @include mixin.mediaQuerie(lg) {
        .description {
            flex: 1;
            text-align: center;
        }
        .image {
            flex: 1;
        }
    }

}